body{
}
table{
	margin: 15px auto 30px auto !important;
}
#header{
	width: 960px;
	margin: 50px auto;
}
#container{
	width: 960px;
	margin: 50px auto;
	text-align: justify;
	text-justify: inter-ideograph;

}
img{
	display: block;
	margin: auto;
}
.data li{
	font-weight: normal;
	font-size: 16px;
}
ul li{
	font-size: 1.5em;
	font-weight: bold;
	margin-top: 20px;
}
li{
	margin: 10px 0 10px 0;
}
}
.content{
	text-indent: 2em;
}
#exp{
	padding: 20px 0;
}
#exp img{
	margin: 0;
	float: left;
}
#exp>div{
	width: 960px;
	height: 300px;
}
p{
	margin: 5px 0 20px 0;
}